{% extends 'portfolio/index.html' %}{% load static %} {% block background %}{% static '/img/background-projects.jpeg' %}{% endblock %}


{%block content %}

{% for project in projects %}
<div class="container">
<div class="card">  	
    <div>
        <img class="img-fluid" src="{{project.image.url}}" alt="">
    </div>
  <div>
        <h2 class="projecttitle">{{project.name}}</h2>   
    <p class="projectdescription">{{project.description}}</p>
    <p><a href="{{project.link}}">Link</a></p>
      </div>
    </div>
   </div>
</div>
{% endfor %}

{% endblock %}{% block title %}Portfolio{% endblock %}






 

